############################################
# .NET / ASP.NET Core
############################################
bin/
obj/
out/

############################################
# Visual Studio
############################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# Visual Studio Code
############################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

############################################
# Rider / JetBrains
############################################
.idea/
*.sln.iml

############################################
# Logs
############################################
logs/
*.log

############################################
# Environment / Secrets
############################################
# É recomendado deixar .env e appsettings no .gitignore e versionar os arquivos de exemplo como .env.example e appsettings.example.json,
# mas como se trata de um projeto público e não vai para produção, todos os arquivos de configuração não estão sendo ignorados.
# .env
# .env.*
# appsettings.*.json
# !appsettings.json

############################################
# User secrets
############################################
secrets.json

############################################
# Docker
############################################
**/docker-data/
docker-compose.override.yml

############################################
# NuGet
############################################
*.nupkg
*.snupkg
.nuget/

############################################
# Test results
############################################
TestResults/

############################################
# OS generated files
############################################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

############################################
# Publish output
############################################
publish/

############################################
# Coverage
############################################
coverage/
*.coverage
*.coveragexml

